<div>
  <h4>Appointment by <%= appointment.author_name %></h4>
  <p class="">Recipe: <%= appointment.recipe %></p>
  <p>For visit: <%= appointment.visit_id %>, <%= appointment.visit.creator_name %></p>
  <p>Created at: <%= appointment.created_at %></p>
</div>