<div>
  <h4>Appointment by <%= appointment.doc.fullname %></h4>
  <p class="">Recipe: <%= appointment.recipe %></p>
  <p>For visit: <%= appointment.visit_id %>, <%= appointment.visit.creator.fullname %></p>
  <p>Created at: <%= appointment.created_at %></p>
</div>