<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @visit.creator_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @visit.time %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @visit.problem %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>

<% if @visit.appointments.exists? %>
  <%= render partial: 'visits/appointment', collection: @visit.appointments %>
<% else %>
  <%= render partial: 'appointments/form' %>
<% end %>