<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>mobile_no:</strong>
  <%= @user.mobile_no %>
</p>

<p>Created visits: <strong><%= @user.created_visits.count %></strong> Received appointments: <strong><%= @user.received_appointments.count %></strong> </p>
  <strong>All my visits</strong>
  <% @user.created_visits.each do |cr_vis| %>
       <p>Visit_id: <%= cr_vis.id %></p>
       <p>To doctor: <%= cr_vis.doc.fullname %></p>
       <p>My problem: <%= cr_vis.problem %></p>
       <p>Teceived appointment: <%= cr_vis.appointments.first.recipe %></p>
  <% end %>
<p>Requested visits: <strong><%= @user.requested_visits.count %></strong>  Received appointments: <strong><%= @user.given_appointments.count %></strong> </p>
  <% @user.requested_visits.each do |visit| %>
       <p>Visit_id: <%= visit.id %></p>
       <p>From patient: <%= visit.creator.fullname %></p>
       <p>Patient`s problem: <%= visit.problem %></p>
       <p>Given appointment: <%= visit.appointments.first.recipe %></p>
  <% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>