<p id="notice"><%= notice %></p>

<h1>Apointments</h1>

<table>
  <thead>
    <tr>
      <th>Visit</th>
      <th>Receipt</th>
      <th>Closing date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apointments.each do |apointment| %>
      <tr>
        <td><%= apointment.visit_id %></td>
        <td><%= apointment.receipt %></td>
        <td><%= apointment.closing_date %></td>
        <td><%= link_to 'Show', apointment %></td>
        <td><%= link_to 'Edit', edit_apointment_path(apointment) %></td>
        <td><%= link_to 'Destroy', apointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apointment', new_apointment_path %>
