<p id="notice"><%= notice %></p>

<p>
  <strong>Visit:</strong>
  <%= @appointment.visit_id %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @appointment.receipt %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @appointment.closing_date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
