<!DOCTYPE html>
<html>
  <head>
    <title>C2linic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <p><%= link_to 'All Visits', visits_path %></p>
    <p><%= link_to 'Add Visit?', new_visit_path %></p>
    <p></p>
  </header>
    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg%></li>
      </ul>
    <%end%>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
</html>
